.card {
    border-radius: 6px;
    background: rgb(178, 209, 245);
    padding: 10px;
    margin: 10px auto;
    width: 24%;
}

.card__header {
    display: grid;
    grid-gap: .5rem;
}

.location {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Oxygen",sans-serif;
    font-weight: 700;
}

.meta-details {
    display: grid;
    grid-template-columns: repeat(2,fit-content(50%));
    grid-gap: .5rem 1rem;
    font-feature-settings: normal;
    list-style: none;
    padding: 0;
    margin: 0;
}

.meta-details__title {
    font-family: "Oxygen",sans-serif;
    font-weight: 700;
    font-size: .75rem;
    text-transform: uppercase;
}

.last-updated {
    position: relative;
    font-family: "Oxygen",sans-serif;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: .125em;
    color: #232f3b;
    margin: .25rem 0;
}